html{
  margin:0;
  font-family:'Playfair Display', serif;
}
/*NAVBAR*/

.navbar {
  background:#fff;
  color:#000;
  height:60px;
  display:block;
}

.navbar ul{
  text-transform:uppercase;
  font-size:18px;
  font-style:italic;

}

.navbar ul li {
  display:inline-block;
  list-style-type:none;
}

.navbar ul li a{
  text-decoration:none;
  color:#000;
}

.navbar ul li a:hover{
  color:#CCCF20;
}


#workisfunv2 {
  height:100%;
  width:100%;
}


/*INTRO*/

.intro {
  font-size:20vmin;
  font-family:"freight-big-pro", sans-serif;
  font-style:italic;
  text-transform:uppercase;

}

.bri,
.camp{
  color:#CCCF20;
}
.bri {
  font-size:25vmin;
  margin-left:12px;
  margin-bottom:20px;

}

.camp {
font-size:30vmin;
margin-top:-52px;

}

.intro h2 span{
  font-style:italic;
  color:#CCCF20;

}

.intro h2{
  font-size:5vmin;
  font-style:italic;
  letter-spacing:.5em;
  margin-left:12px;
  margin-bottom:72px;
}

/*WORK*/
.work{
  background-color:#CCCF20;
  padding:1px 0 1px 26px;
  margin-bottom:10px;
  background: url(background-wis.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:93%;


}
.work p{
  text-transform:uppercase;
  font-size:10vmin;
  color:#fff;
  font-weight:900;
  letter-spacing:4px;
  text-align:center;

}


/* THUMBNAILS */

.thumbnail {
  width: 100%;
  margin: 5px 0;
  padding: 40px 0;

}

.thumbnail a {
  color: #fff;
  text-decoration: none;

}

.gp {
  background-color: #fd6d6d;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  font-size: 8vmin;
  font-style: italic;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: rgba(255,255,255,1);

}


.j62 {
  background-color: #45B29D;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 8vmin;
  font-family: sans-serif;
  letter-spacing:2px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: rgba(255,255,255,1);

}


/*MEDIA QUERIES*/


@media only screen and (min-width: 550px) {
  .navbar ul{
    font-size:25px;
  }

/*   .wrapper{
  padding:0 55px;
} */

  .bri {
    font-size:30vmin;
  }


  .work p{
    font-size:8vmin;
  }



}

@media only screen and (min-width: 768px) {
  .camp {
    font-size: 35vmin;
  }

  .work {
    /* height:38rem; */
    width:100%;
  }

  .wrapper {
    padding: 0 2%;
  }
}

@media only screen and (min-width: 830px) {
  .work {
    height: 38rem;
  }


}
