html{
  margin: 0;
  font-family:'Playfair Display', serif;
}
/*NAVBAR*/

.navbar {
  background:#fff;
  color:#000;
  height:60px;
}

.navbar ul {
  text-transform:uppercase;
  font-size:1.2;
  font-style:italic;
  font-family: "freight-big-pro", sans-serif;

}

.navbar ul li {
  display:inline-block;
  list-style-type:none;
}

.navbar ul li a{
  text-decoration:none;
  color:#000;
}

.navbar ul li a:hover{
  color:#CCCF20;
}


#workisfunv2 {
  height:100%;
  width:100%;
}


/*INTRO*/

.intro {
  font-size:20vmin;
  font-family:"freight-big-pro", sans-serif;
  font-style:italic;
  text-transform:uppercase;
  margin-left: 20px;

}

.bri,
.camp{
  color:#CCCF20;
}

.bri {
  font-size:25vmin;
  margin-left:12px;
  margin-bottom:20px;
  margin-top: -20px;


}

.camp {
font-size:30vmin;
margin-top:-52px;

}

.intro h2 span{
  font-style:italic;
  color:#CCCF20;

}

.intro h2{
  font-size:5vmin;
  font-style:italic;
  letter-spacing:.5em;
  margin-left:12px;
  margin-bottom:72px;
}

/*WORK*/

.work {
  background-color:#CCCF20;
  margin-bottom:10px;
  background: url(images/background-wis.svg) no-repeat center center fixed;
  background-size: cover;
  width:95%;
  margin: 0 auto;
  margin-bottom: 5px;


}
.work p {
  text-transform:uppercase;
  font-size:8vmin;
  color:#fff;
  font-weight:900;
  letter-spacing:4px;
  text-align:center;

}


/* THUMBNAILS */

.work-thumbnails {
  margin: 0 auto;
  width: 95%;
}

.thumbnail {
  width: 100%;
  margin: 5px 0;
  padding: 50px 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 8vmin;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  letter-spacing:2px;
  color: rgba(255,255,255,1);


}

.thumbnail:hover {
  background-color: #CCCF20;
}

.thumbnail a {
  color: #fff;
  text-decoration: none;

}

.dt {
  background-color: #fd6d6d;
}

.gp {
  background-color: #60e89d;
  color: rgba(255,255,255,1);


}


.j62 {
  background-color: #dbdb85;
  color: #fff;
  padding: 0;

}

/* ABOUT */


.about-line {
  margin-top: 10%;
  margin-bottom: 10%;
}

.about h2 {
  text-transform: uppercase;
  font-family: "freight-big-pro", sans-serif;
  font-size: 8vmin;
  color: #CCCF20;
  text-align: center;
  letter-spacing: 5px;
  font-style: italic;
}

.about img {
  border-radius: 50%;
  width: 250px;
  display: block;
  margin: 0 auto;

}

.description {
  padding:10px;
  line-height: 1.2em;
  font-family: 'Open Sans', sans-serif;

}

.say-hi {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
  width: 50%;
  font-family: 'Open-Sans', sans-serif;
  font-size: 5vmin;
  background-color: #CCCF20;
  margin-top: 5%;
  margin-bottom: 5%;
}

.say-hi:hover {
  background-color: #60e89d;
  color:#FFF;
}

.about a{
  text-decoration: none;
  color: #FFF;
  padding: 5px;

}


.about a:hover {
  color:#FFF;
}

/* FOOTER */

.footer {
  text-align:center;
}

.footer-hr img {
  display: block;
  margin: 0 auto;

}

img.social {
  width: 64px;
  display: inline-block;
  margin: 5px;
}

.footer a {
  text-decoration: none;
  color: #FFF;
}
.footer p{
  font-size: 15px;
}

/*MEDIA QUERIES*/


@media only screen and (min-width: 550px) {
  .navbar ul{
    font-size:25px;
  }


  .bri {
    font-size:30vmin;
  }


  .work p{
    font-size:5vmin;
  }

  .intro h2 {
    margin-left: 35px;
  }



}

@media only screen and (min-width: 768px) {
  .camp {
    font-size: 35vmin;
  }

  .work {
    height: 25rem;
  }

  .work-thumbnails {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;

  }

  .thumbnail {
    width: 49%;
    margin-top: 5px;
    font-size: 4vmin;

  }


.description {
  margin-top: 3%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5em;
}

.say-hi {
  width: 35%;
}


}



@media only screen and (min-width: 830px) {
  .work {
    height: 28rem;
  }

  .footer-hr img {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .work {
    height: 40rem;
  }
}
