@import 'bourbon/bourbon';
$pink: pink;
$lavender: lavender;
$white: #ffffff;
$black: #000000;
$grey: #C9CDCC;
$brown-red: #D0C5C3;
$light-purple: #BDAFC0;
$dark-purple: #949ABE;
$green: #6cf5d2;
$fuscia: #c451dc;
$maroon: #692323;
$lavender: #f9e8ff;
$another-purple: #c188ff;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Overpass Mono', monospace;
}

.main-wrapper {
  width: 100%;
  padding: 50px 20px;
  background-color: $lavender;
  min-height: 100vh;
  @include background-image(url('../../images/wipgravestone.png'));
  background-repeat: repeat;
  background-size: 35%;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 800px) {
    background-size: 15%;
    padding: 0;
  }
}

h1,
h2,
h3,
p,
a {
  color: $black;
  font-weight: 100;
}

a {
  @include transition(color .3s ease-in-out);
}

.about {
  padding: 1em;
}

.about__header {
  background-color: $white;
  padding: .3em;
}

.portrait {
  max-width: 200px;
}

.about__job {
  background-color: $black;
  color: $white;
  padding: .5em;
}

.about__job a {
  color: $white;
}

a:hover {
  color: $green;
}

.work__list {
  color: $white;
  padding: 0;
}

.work__list li {
  margin-bottom: 1.1em;
}

.work__list p {
  font-style: italic;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: 700px) {
    grid-column-gap: 30px;
    grid-template-columns: auto 1fr auto;
  }
}

.grid__item--work {
  grid-column: 1 / -1;

  @media screen and (min-width: 700px) {
    grid-column: 3 / 4;
  }
}

.grid__item--intro {
  grid-column: 1 / -1;

  @media screen and (min-width: 700px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

}

.grid__item--portrait {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media screen and (min-width: 800px) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: center;
    text-align: center;
  }
}

.intro p {
  background-color: $white;
  padding: 1em 1em 1em 30px;
}

.work {
  animation: color-change 7s alternate-reverse infinite;
  background-color: $lavender;
  margin-top: 20px;
  padding: 1em 3em;
}

.page__heading {
  text-transform: uppercase;
}

.page__subheading {
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid $black;
}

@keyframes color-change {
  0% {
    background-color: rgba(255, 255, 255, 1);
  }

  25% {
    background-color: rgba(lighten($lavender, 10%), 1);
  }

  50% {
    background-color: rgba(lighten($lavender, 5%), 1);
  }

  100% {
    background-color: rgba(darken($lavender, 5%), 1);
  }
}